@using System.Web.Optimization
@model csfiddle.Controllers.ViewModels.CodeViewModel

<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
        <title>c#fiddle</title>
        @Styles.Render("~/sitecss")
        @Scripts.Render("~/sitescripts")
        <script type="text/javascript">
            function runCode() {
                $("#run").html("Running...");
                $.post('/', { InputCode: csfiddle.editor.getValue() }, function (data) {
                    $('#result').html("<pre>" + data + "</pre>");
                }).always(function () { $("#run").html("Run"); } );
            }
            function save() {
                $("#save").html("Saving...");
                $.post('/Save', { Id: $("#id").val(), InputCode: csfiddle.editor.getValue() }, function (id) {
                    if ($("#id").val() != id) {
                        history.pushState(null, "Viewing Fiddle " + id, "/" + id);
                        $("#id").val(id);
                    }
                    $('#result').html("Saved!");
                }).always(function () { $("#save").html("Save"); });
            }
        </script>
    </head>
    <body>
        <div class="ui-layout-north"><button onclick="window.location = '';">New</button><button id="run" onclick="runCode()">Run</button><button id="save" onclick="save()">Save</button></div>
        <div class="ui-layout-west">
            <form>
                <input type="hidden" id="id" name="id" value="@Model.Id" />
                <textarea id="InputCode" name="InputCode">@Model.InputCode</textarea>
            </form>
        </div>
        <div class="ui-layout-center">
            <div id="result"><pre>@Model.Result</pre></div>
        </div>
        <div class="ui-layout-south">A side project by <a href="http://twitter.com/mdaviesnet">@@mdaviesnet</a></div>
    </body>
</html>