@using System.Web.Optimization
@model csfiddle.Controllers.ViewModels.CodeViewModel

<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
        <title>c#fiddle</title>
        <link rel="icon" type="image/vnd.microsoft.icon" href="~/Content/images/favicon.ico" />
        @Styles.Render("~/sitecss")
        @Scripts.Render("~/sitescripts")
    </head>
    <body>
        <div class="ui-layout-north"><button id="new">New</button><button id="run">Run</button><button id="save">Save</button></div>
        <div class="ui-layout-west">
            <form>
                <input type="hidden" id="id" name="id" value="@Model.Id" />
                <textarea id="InputCode" name="InputCode">@Model.InputCode</textarea>
            </form>
        </div>
        <div class="ui-layout-center">
            <div id="result"><pre>@Model.Result</pre></div>
        </div>
        <div class="ui-layout-south">A side project by <a href="http://twitter.com/mdaviesnet">@@mdaviesnet</a></div>
    </body>
</html>